.jumbotron {
  background-image: url(img/projects/14.jpg);
}

.jumbotron img {
  border-radius: 100%;
}

.jumbotron h2 {
  padding: 1rem;
}

.jumbotron {
  padding-top: 5rem;
}

#about {
  background-image: url(img/projects/5.jpg);
  padding-bottom: 20%;
  padding-top: 10%;
}

#contact {
  background-color: #ffffff;
  padding-bottom: 2%;
  padding-top: 2%;
}

#hobi {
  background-image: url(img/projects/5.jpg);
  padding-top: 5%;
  padding-bottom: 0%;
}

#projects {
  background-image: url(img/projects/5.jpg);
  padding-top: 7%;
  padding-bottom: 10%;
}
